body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #ABE9E9;
    text-align: center;
}

.title {
    font-size: 3em;
    margin: 50px 0px 40px 0px;
}

.profile {
    background-color: white;
    width: 80px;
    height: 75px;
    border-radius: 40px;
    font-size: 30px;
    float: right;
    margin-right: 20px;
    position: relative;
    bottom: 70px;
}

.user-profile-image {
    width: 80px;
    height: 75px;
    border-radius: 40px;
    float: left;
    margin: 15px 0px 0px 27px;
}